<article>
  <h3>{{pokemon.nom}}</h3>
  <p>{{pokemon.description}}</p>

  <div class="attaques">
    <h4>Attaques</h4>
    @for(a of pokemon.liste_attaques; track a) {
      <div>
      <p>Nom : {{a.nom_attaque}}</p>
      <p>Description : {{a.description_attaque}}</p>
      <p>Dégâts : {{a.degat_attaque}}</p>
      </div>
    }
  </div>

  <div>
    <h4>Types</h4>
    @for (t of pokemon.types; track t) {
      <div>
      <p class="rounded">{{t}}</p>
      </div>
    }
  </div>

  <div>
    <h4>Zone</h4>
    <p>Nom : {{pokemon.zone.nom_zone}}</p>
    <p>Région : {{pokemon.zone.region_zone}}</p>
  </div>

  @if (this.pokedexService.pokedex.includes(pokemon)) {
    <button (click)="deleteToPokedex(pokemon)">Supprimer du Pokedex</button>
  } @else {
    <button (click)="addtoPokedex(pokemon)">Ajouter au Pokedex</button>

  }
  <button (click)="deletePokemon(pokemon)">Supprimer</button>
</article>
